In [1]:
import os
import sys
import csv
import pandas as pd
import numpy as np
import string
import time

In [2]:
# get the date and close price for stock A
dataset = pd.read_csv('A.csv', usecols=[0,4], engine='python', header = 0)

# only get the data from Jan 21st, 2020 to April 1st, 2020
dataset = dataset.iloc[-51:]

# change the name of price column, because we want to join different stocks to one table based on date
dataset = dataset.rename(columns = {'Close': 'A'})

# start with variable result
result = dataset

In [3]:
# get the dataset path
print(os.getcwd())
path = os.getcwd()

C:\Users\Administrator\Big Data\Project\Data Preprocessing

In [4]:
# compute time
time_start = time.time()
for file in os.listdir(path):
    # read all csv files in this directory. i.e. read all stock data one by one
    if file[-4:] == ".csv":
        # get stock name
        filename = file.replace(".csv", "")
        if filename != 'A':
            # get the date and close price for current stock
            temp = pd.read_csv(filename + '.csv', usecols=[0,4], engine='python', header = 0)
            # change the name of price column
            temp = temp.rename(columns = {'Close': filename})
            # some stock has no enough data from Jan 21st, 2020 to April 1st, 2020, we filter it.
            if pd.merge(dataset, temp, on = 'Date').shape[0] < 51:
                continue
            # get the merge
            result = pd.merge(result, temp, on = 'Date')
time_end = time.time()
#it will take about 55 mins, because the larger the dataframe, the processing time will be longer
print("time used:", time_end - time_start)

time used: 3246.4879570007324

In [5]:
result.head()

,Date,A,AA,AACG,AAL,AAMC,AAME,AAN,AAOI,AAON,...,ZSAN,ZTO,ZTR,ZTS,ZUMZ,ZUO,ZVO,ZYME,ZYNE,ZYXI
0,2020-01-21,89.610001,17.120001,1.41,27.200001,13.44,1.90,60.369999,13.70,52.849998,...,1.45,23.910000,11.45,141.929993,33.209999,15.18,1.79,47.720001,5.70,10.61
1,2020-01-22,90.129997,16.590000,1.53,27.320000,13.32,1.90,61.119999,14.25,52.950001,...,1.42,23.600000,11.47,141.500000,32.320000,15.39,1.76,49.799999,5.73,10.58
2,2020-01-23,89.070000,16.290001,1.44,28.799999,13.47,1.86,61.360001,14.23,53.799999,...,1.40,23.110001,11.45,138.339996,32.279999,15.78,1.72,45.099998,5.57,10.42
3,2020-01-24,88.260002,15.510000,1.36,27.639999,13.20,1.90,61.480000,13.96,53.450001,...,1.34,22.610001,11.47,136.309998,32.099998,15.45,1.66,47.419998,5.38,10.12
4,2020-01-27,86.559998,14.870000,1.31,26.110001,13.36,1.80,61.439999,13.26,53.400002,...,1.30,22.209999,11.36,135.960007,31.930000,15.01,1.63,44.099998,5.22,9.94

In [6]:
# store the combined dataframe to csv file
result.to_csv("merged stock price.csv", index = 0)

In [7]:
merged_stock_price = pd.read_csv('merged stock price.csv')

In [8]:
merged_stock_price.head()

,Date,A,AA,AACG,AAL,AAMC,AAME,AAN,AAOI,AAON,...,ZSAN,ZTO,ZTR,ZTS,ZUMZ,ZUO,ZVO,ZYME,ZYNE,ZYXI
0,2020-01-21,89.610001,17.120001,1.41,27.200001,13.44,1.90,60.369999,13.70,52.849998,...,1.45,23.910000,11.45,141.929993,33.209999,15.18,1.79,47.720001,5.70,10.61
1,2020-01-22,90.129997,16.590000,1.53,27.320000,13.32,1.90,61.119999,14.25,52.950001,...,1.42,23.600000,11.47,141.500000,32.320000,15.39,1.76,49.799999,5.73,10.58
2,2020-01-23,89.070000,16.290001,1.44,28.799999,13.47,1.86,61.360001,14.23,53.799999,...,1.40,23.110001,11.45,138.339996,32.279999,15.78,1.72,45.099998,5.57,10.42
3,2020-01-24,88.260002,15.510000,1.36,27.639999,13.20,1.90,61.480000,13.96,53.450001,...,1.34,22.610001,11.47,136.309998,32.099998,15.45,1.66,47.419998,5.38,10.12
4,2020-01-27,86.559998,14.870000,1.31,26.110001,13.36,1.80,61.439999,13.26,53.400002,...,1.30,22.209999,11.36,135.960007,31.930000,15.01,1.63,44.099998,5.22,9.94